
.carousel-item {
  height: 50vh;

 
 
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100vh;
}
